#sf-map {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #f2f2f2;
  color:white;
}

#sf-conf-pane {
  padding-top: 3em;
  background: #f2f2f2;
  color: black;
}

#sf-conf-pane-tab-panes {
  padding-top: 3em;
}


#sf-control-bar{
  border-style: 1px solid #ccc;

  padding-top: 3em;
  padding-bottom: 3em;
}

#sf-results-pane-header {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  background: #f2f2f2;
  margin-top: 1em;
  padding-bottom: 3em;
}
#sf-results-panel {

  background: #f2f2f2;

}
#sf-results-pane img{
  margin:0.5em;
}
#txt{
    border-style: 2px solid;

}

#mapid { height: 400px;}
