html, body {
  position: relative;
  min-height: 100%;
}

#sf-map {
  padding-top: 1em;
  width:100%;
  height:100%;
  padding-bottom: 1em;
  background: #f2f2f2;
  z-index: 0;
  color:white;
  position: absolute;
  left:0;
  top: 0;
}
.up-part .row{
  float: right;
  width: 350px;
  margin-right: 0;
  clear:both;
}
.container {
  float:right;
  clear:both;
}
.up-part {
  overflow: hidden;
  width: 400px;
  clear:both;
}
#sf-conf-pane {
  padding-top: 1em;
  background: #f2f2f2;
  color: black;
  padding-bottom: 1em;
}

#sf-conf-pane-tab-panes {
  padding-top: 3em;

}

#sf-control-bar{
  margin-top: 20px;
  border-top: 1px solid #ccc;
  background : #FFCCBC;
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
  margin-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 20px;
}

#sf-results-pane-header {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  background: #f2f2f2;
  margin-top: 1em;
  padding-bottom: 3em;
  margin-bottom: 20px;
}
#sf-results-panel {

  background: #f2f2f2;

}
#sf-results-pane img{
  margin:0.5em;

}
#txt{
    border-style: 2px solid;

}

#mapid {height:100%;}


@keyframes fade {
  from { opacity: 0.5; }
}

.blinking {
  animation: fade 1s infinite alternate;
}
